In [6]:
1+1

2

In [7]:
1*3

3

In [8]:
1/2

0.5

In [9]:
2**5

32

In [10]:
4%2

0

In [11]:
4%3

1

In [12]:
(2+3)*(10+10)

100

#pyhton types of numbers int and float

# Variable assignment

In [16]:
name_of_var = 2

In [18]:
x = 2
y = 3

In [19]:
z = (2*x) + y

In [20]:
z

7

# String

In [21]:
'Single quotes'

'Single quotes'

In [22]:
"double quotes"

'double quotes'

In [23]:
"I can't go right now"

"I can't go right now"

# Printing

In [24]:
x = 'hello'

In [25]:
x

'hello'

In [26]:
print(x)

hello

In [27]:
num = 16
name = 'Jack'

In [30]:
print('My number is {one}, and my name is {two}'.format(one=num,two=name))

My number is 16, and my name is Jack

In [32]:
print('My numbeer is {}, and my name is {}'.format(num,name))

My numbeer is 16, and my name is Jack

In [33]:
s = 'hello'

In [34]:
s[0]

'h'

In [35]:
s[4]

'o'

In [36]:
word ='abcdefghijk'

In [37]:
word[0:]

'abcdefghijk'

In [39]:
word[:3]

'abc'

In [41]:
word[0:5]

'abcde'

In [42]:
word[3:6]

'def'

# List

In [44]:
[1,2,3]
['a','b','c']

['a', 'b', 'c']

In [45]:
my_list = ['d','e','f','g']

In [46]:
my_list.append('h')

In [48]:
my_list

['d', 'e', 'f', 'g', 'h']

In [49]:
my_list[0]

'd'

In [50]:
my_list[:1]

['d']

In [51]:
my_list[0] = 'NEW'

In [52]:
my_list

['NEW', 'e', 'f', 'g', 'h']

In [53]:
nest =[1,2,3,[4,5,['target']]]

In [54]:
nest[3]

[4, 5, ['target']]

In [57]:
nest[3]

[4, 5, ['target']]

In [58]:
nest[3][2]

['target']

In [60]:
print(nest[3][2][0])

target

# Dictionaries

In [61]:
d = {'key1':'item1','key2':'item2'}

In [62]:
d

{'key1': 'item1', 'key2': 'item2'}

In [63]:
d['key1']

'item1'

# Tuples

In [64]:
t = (1,2,3)

In [65]:
t[0]

1

In [66]:
t

(1, 2, 3)

In [67]:
t[0]= 'NEW'

TypeError: 'tuple' object does not support item assignment

# Sets

In [68]:
{1,2,3}

{1, 2, 3}

In [69]:
{1,1,1,1,1,2,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [70]:
set([1,1,1,1,1,5,5,5,5,8,8,8])

{1, 5, 8}

In [72]:
s ={1,2,3}

In [73]:
s.add(4)

In [74]:
s

{1, 2, 3, 4}

# Comparison Operators

In [75]:
1 > 2

False

In [76]:
1 < 2

True

In [77]:
1 >= 1

True

In [78]:
1<= 4

True

In [79]:
1 == 1

True

In [82]:
'hi' == 'bye'

False

In [83]:
'Hello' == 'hello'

False

In [84]:
1 < 2 and 2 < 3

True

In [85]:
2 < 1 and 2 < 3

False

In [86]:
(0 < 1) or (3 < 4)

True

In [87]:
False or True

True

In [88]:
True or False

True

# If, elif, else Statements

In [89]:
if 1 < 2:
    print("Yup!")

Yup!

In [90]:
if True:
    print('Yep!')

Yep!

In [91]:
if True:
    x = 2 +2

In [92]:
x

4

In [94]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [96]:
if 1 == 2:
    print('1st')
elif 2 == 3:
    print('2nd')
elif 3 == 3:
    print('3rd')
else:
    print('last')

3rd

# for Loops

In [97]:
seq = [1,2,3,4,5]

In [98]:
for item in seq:
    print(item)

1
2
3
4
5

In [101]:
for jelly in seq:
    print(jelly)

1
2
3
4
5

In [102]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

# while Loops

In [1]:
i = 1

while i < 5:
    print('i is :{}'.format(i))
    i = i+1

i is :1
i is :2
i is :3
i is :4

In [106]:
for x in seq:
    print(x)

1
2
3
4
5

In [107]:
range(0,5)

range(0, 5)

In [108]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [109]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# list comprehension

In [110]:
x = [1,2,3,4,5]

In [111]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [112]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [113]:
out = [num**2 for num in x]

In [114]:
out

[1, 4, 9, 16, 25]

# functions

In [115]:
def my_func(param1):
    print(param1)

In [116]:
my_func('hello')

hello

In [119]:
def my_func(name):
    print('hello '+name)

In [120]:
my_func('Jack')

hello Jack

In [128]:
def square(num):
    """
    This is docstring
    """
    return num**2

In [129]:
output = square(2)

In [123]:
output

4

In [130]:
square

In [131]:
range

range

# lambda expressions

In [132]:
def times(var):
    return var*2

In [133]:
times(2)

4

In [134]:
#Map and filter

In [135]:
seq = [1,2,3,4,5]

In [136]:
map(times,seq)

In [137]:
list(map(times,seq))

[2, 4, 6, 8, 10]

# lambda

In [140]:
def times(var):return var*2

In [141]:
lambda var: var*2

In [142]:
n = lambda var: var*2

In [143]:
n = 2

In [144]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [145]:
filter

filter

In [146]:
filter(lambda num: num%2==0,seq)

In [148]:
list(filter(lambda num: num%2==1,seq))

[1, 3, 5]

# methods

In [149]:
str = 'hello my name is Jack'

In [150]:
str.lower()

'hello my name is jack'

In [151]:
str.upper()

'HELLO MY NAME IS JACK'

In [152]:
str.split()

['hello', 'my', 'name', 'is', 'Jack']

In [153]:
tweet = 'Goes to Jakarta #Goesto'

In [154]:
tweet.split('#')

['Goes to Jakarta ', 'Goesto']

In [155]:
tweet.split('#')[1]

'Goesto'

In [156]:
d1 ={'x1':1,'x2':2}

In [157]:
d1

{'x1': 1, 'x2': 2}

In [158]:
d1.keys()

dict_keys(['x1', 'x2'])

In [159]:
d1.items()

dict_items([('x1', 1), ('x2', 2)])

In [160]:
d1.values()

dict_values([1, 2])

In [161]:
lst = [1,2,3,4,5]

In [162]:
lst.pop()

5

In [163]:
item = lst.pop()

In [164]:
lst

[1, 2, 3]

In [165]:
item

4

In [166]:
'x' in [1,2,3]

False

In [167]:
'x' in ['d','x','z']

True

In [168]:
x =[(1,2),(3,4),(5,6)]

In [169]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [170]:
for (a,b) in x:
    print(a)

1
3
5

In [171]:
for (a,b) in x:
    print(b)

2
4
6

In [172]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6